html{
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

* {
    Box-sizing: inherit; 
    margin: 0;
    padding: 0;
    }

body{
    height: 100%;
    width: 100%;
    background-color: #FFF3B8;
    
} 

.container{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 15vh 1fr;
    grid-template-areas: " header "
                          " main " ;
    position: relative;
    
    
}



header{
    grid-area: header;
    
    
}

nav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding: 0 3%;
}

.logo-container{
    display: inline-block;
    margin-right: auto;
    margin-left: 30px;
    position: relative;
}


.logo-container img{
    height: 125px;
    width: 125px;
    position: absolute;
    z-index: -100;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.nav-links a{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: #200932;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.2s ease-in ;
}

.nav-links a:hover{
    color: #EF81EB;
}

.menu-icon{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 2.5rem;
    display: none;
    cursor: pointer;
}


main{
    grid-area: main;
    width: 100%;
    height: 100%;
    
 
}

/* First section classes */

.slogan-section{
    width: 100%;
    min-height: 85vh;
    padding: 0 3%;
    
}

.slogan-card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
}

.slogan-card-text{
    height: 100%;
    width: 50%;
    min-width: 400px;
    flex-grow: 1;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 45px 0px 45px 45px;
}

.slogan-card-text h1{
    font-size: 2.6rem;
    font-weight: 700;
    text-align: left;
    color: #200932;
    
}

.slogan-card-text p{
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-align: justify;
    width: 80%;
    margin-top: 1rem;
    color: #200932;
}

.slogan-card-buttons{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: left;
     align-items: center; 
     height: 60px;
     margin-top: 1.5rem;
    }
    
    
.slogan-card-buttons .button1{
    height: 80%;
    width: 30%;
    background-color: #200932;
    color: white;
    box-shadow: none;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 25px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.button1:hover{
    background-color: #EF81EB;

}
    
.slogan-card-buttons .button2{
    height: 80%;
    width: 30%;
    background-color: white;
    color: #200932;
    box-shadow: none;
    border: solid 1px #200932 ;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 25px;
    color: #200932;
    cursor: pointer;
    transition: all 0.3s ease-in;
    
}

.button2:hover{
    background-color: #EF81EB;
}
    

.slogan-card-img{
    height: 100%;
    width: 50%;
    min-width: 400px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

          
}


.slogan-card-img img{
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: 500px;
    min-width:350px;
    min-height: 350px;
    border-radius: 1rem;
}



/* Second section classes */

.mission-section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #EF81EB;
    padding: 2rem 3%;
}

.mission-section p{
    font-size: 2rem;
    font-weight: 700;
    color: #FFF3B8;
    width: 80%;
    line-height: 3.5rem;
}



/* Third section classes */


.advantages-section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #200932;
    color: #FFF3B8;
    padding: 2rem 3%;
}

h3{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.why{
    margin-bottom: 3rem;
}


.advantages-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
}

.card-column{
    max-width: 300px;
    
}

.advantages-card i{
    font-size: 3rem;
}

.advantages-card h5{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* four section classes */

.work-section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #200932;
    padding: 2rem 3%;
    
}


    .work{
        margin-bottom: 3rem;
        
    }

    .work-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        row-gap: 2rem;
        
    }

    .work-card-column{
        max-width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
   .circle{
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 50%;
       background-color: #FFF3B8;
       width: 100px;
       height: 100px;
       font-size: 2rem;
   }
    
    .work-card h5{
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


    .up{
        position: fixed;
        right: 5%;
        bottom: 10%;
        opacity: 0.5;
        z-index: 500;
    }

    .up:hover{
        opacity: 1;
    }

    .up a{
        font-size: 3rem;
        color: yellow;
        
    }






@media (max-width: 992px){

    .menu-icon{
        display: flex;
        position: absolute;
        z-index: 300;
        top: 1.5rem;
        color: #EF81EB;
    }

    .nav-links{
        position: absolute;
        left: 0;
        right: 0;
        height: 0;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 100;
        transition: all 0.6s ease-in-out;
        overflow: hidden;
    }

    .nav-links a{
        width: 100%;
        color: #EF81EB;
        font-size: 2rem;
        padding: 2rem 0;
    }

    .nav-links a:hover{
        background-color: rgba(0, 0, 0, 0.5);
    }


    .active{
        height: 100%;
    }







}