html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

* {
    Box-sizing: inherit; 
    margin: 0;
    padding: 0;
    }

body{
    height: 100vh;
    width: 100vw;
    background-color: #FFF3B8;
} 

.container{
    height: 100%;
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr;
    grid-template-areas: "header"
                          "main" ;
}

nav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

.logo-container{
    display: inline-block;
    margin-right: auto;
    margin-left: 30px;
}

img{
    height: 125px;
    width: 125px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links a{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: #200932;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}
